@{

ViewData["Title"] = "Home Page";

}

<div class="jumbotron">

<h1>AidCare</h1>

</div>

<div class="row">

<div class="col-md-4">

<h2>Welcome to AidCare!</h2>

<p>

AidCare is a website about helping the countries that the big charities like 40HourFamine often ignore, such as Laos The DRC (Democratic Republic of the Congo) and Mozambique 

</p>

</div>

<div class="col-md-4">

<h2>Donate now!.</h2>

<p>You can help a child just by gving a dollar in just a few short clicks.</p>

</div>

<div class="col-md-4">

<h2>We are 100% non profit group </h2>

<p>Every cent that we receive it goes back to the people in need.
    We have trusted sponsors such as Gfuel, Paypal and MasterCard</p>

</div>

</div>