@model AidCare_The_Rise_Of_The_Aid.Models.protest

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>protest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProtestName" class="control-label"></label>
                <input asp-for="ProtestName" class="form-control" />
                <span asp-validation-for="ProtestName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProtestLocation" class="control-label"></label>
                <input asp-for="ProtestLocation" class="form-control" />
                <span asp-validation-for="ProtestLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProtestDate" class="control-label"></label>
                <input id="checkout_datetime" type="date" min="2022-07-22" max="2030-03-30" 
                <span asp-validation-for="ProtestDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
