@model AidCare_The_Rise_Of_The_Aid.Models.donation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>donation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonationDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonationDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonationAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonationAmount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.donationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
